<h2>興味のある分野を選択してください</h2>
<%= form_tag( { controller: :home, action: :done}) do %>
  <% Genre.where(parent_genre_id: nil).each do |parent| %>
    <h3><%= parent.name %></h3>
    <ul class="list-group">
      <% Genre.where(parent_genre_id: parent.id).each do |leaf| %>
        <li class="list-group-item">
          <span class="checkbox">
            <label>
              <%= check_box 'genre', leaf.id , {}, true, false %> <%= leaf.name %>
            </label>
          </span>
        </li>
      <% end %>
    </ul>
    <%= submit_tag '決定' %>
    <br/>
  <% end %>
<% end %>
